<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user login</title>
</head>
<body>
    <div class="containter" style="margin-top:10%; width:100%">
    <div class="row" style="width:80%; margin-left:10%">
        <div class="col-xs-4 col-xs-offset-4" style="width:100%; margin-left:0px;">
            <div class="panel panel-default" style="width: 300px; margin: 0 auto">
                  <div class="panel-heading">
                          <h3 class="panel-title">London Enterprise Network Login</h3>
                    </div>
                 <div class="panel-body">
                        <form action="/login/?from_page={{ previous_page }}" method="POST">
                             {% csrf_token %}

                            <label for="id_username_or_email">username </label>
                            <input name="username" class="form-control" placeholder="enter username here" required="" id="id_username_or_email" type="text">
                            <p class="text-danger"></p>

                            <label for="id_password">Password </label>
                            <input name="password" class="form-control" placeholder="enter password here"  id="id_password" type="password">
                            <!--<p class="text-danger"></p>-->

                            <p> </p>
                            <label for="code">code </label>
                            <input name="code" class="form-control" placeholder="enter code here"  id="code" type="code">
                            <!--<p class="text-danger"></p>-->

                            <span class="pull-left text-danger"></span>
                            <div class="clearfix"></div>
                            <!--<a href="/forgot_password/" class="pull_left">forget password</a>-->
                             <input type="submit" name="submit_code" value="send me code" class="btn btn-primary pull-right">
                             <input value="submit" class="btn btn-primary pull-right" type="submit" >
                        </form>

                </div>
            </div>

    </div>

    </div>
    </div>
</body>
</html>